
#app{
	.r_input{
		color: #ddd !important;
		margin-bottom: 20rpx;
		.uni-easyinput__content{
			background-color: #202020 !important;
			border-radius: 12rpx;
		} 
		.content-clear-icon{
			padding: 0 7px;
		}
		.uni-easyinput__content-input{
			height: 80rpx;
		}
		.content-clear-icon{
			color: #ddd !important;
		}
		.uniui-eye-filled::before{
			// content: '\66c';
		}
	}
	.d_input{
		color: #ddd !important;
		margin-bottom: 20rpx;
		.uni-easyinput__content{
			border-radius: 12rpx;
		} 
		.content-clear-icon{
			padding: 0 7px;
		}
		.uni-easyinput__content-input{
			height: 80rpx;
		}
		.content-clear-icon{
			color: #ddd !important;
		}
		.uniui-eye-filled::before{
			// content: '\66c';
		}
	}
}